<!DOCTYPE html>
<html>
<head>
  <title>Products Master - Create a New Product</title>
</head>
<body>
<div id ="new_products">
  <form>
    <input type="text" name="product">
    <input type="submit" value="Create Product">
    </form>
</div>
</body>
</html>